<div  class="h100 bg-fondo d-flex flex-column justify-content-center">
  <h2 class="text-center text-light"> Hola, Soy <span class="text-danger fw-bold">Vladimir Aguacunchi</span>.</h2>
  <h2 class="text-center text-light">Desarrollador de software</h2>
</div>
<!-- nav bar -->
<!-- <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-symbols-outlined text-light"> menu </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link text-light dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- about -->
<div class="mt-5 pt-5">
  <h2 class="text-center">SOBRE MÍ <span class="d-flex justify-content-center"><hr class="w5"></span> </h2>
</div>

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="container">
        <div class="row ">
            <div class="d-flex justify-content-center">
              <img class="w-25" src="/assets/VladimirA.jpeg" alt="" />
            </div>
        </div>
        <div class="row">
          <h3 class="text-center">Quién es Vladimir?</h3>
          <p class="text-center">
            Soy estudiante de ingeniería en Software de Ambato, Ecuador. 
            Talentoso desarrollador frontend junior con una pasión por crear aplicaciones y sitios web atractivos y funcionales. 
            Con una sólida comprensión de HTML, CSS y JavaScript, 
            He demostrado un gran potencial en la creación de experiencias de usuario intuitivas y atractivas. 
            Además, mi habilidad para trabajar en equipo y aprender rápidamente me permite resolver problemas de manera efectiva y colaborar con otros miembros del equipo en proyectos más grandes. 
            Con gran dedicación y entusiasmo por la industria</p>
          <a href="/assets/CV.pdf" class="btn btn-outline-danger w10 text-center mx-2" download="CV.pdf" target="_blank">CV</a>
          <a href="https://github.com/Vladox69" class="btn btn-outline-danger w10 text-center mx-2"  target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-md-2">HTML</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Avanzado
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">CSS</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Avanzado
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">JavaScript</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Java</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">PHP</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Angular</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">React</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Spring</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid p-5 bg-hueso">
  <!-- Proyectos contenedor -->
  <div class="container-sm">
    <h2 class="text-center">PROYECTOS <span class="d-flex justify-content-center"><hr class="w10"></span> </h2>
    <div class="row p-5">
      <!-- Proyecto -->
      <div class="col-md-4 p-0">
        <app-tarjeta-component [dato]="tarjetas[0]"></app-tarjeta-component>
      </div>
      <!-- Proyecto  -->
      <div class="col-md-4 p-0">
        <app-tarjeta-component [dato]="tarjetas[1]"></app-tarjeta-component>
      </div>      
      <!-- Proyecto -->
      <div class="col-md-4 p-0">
        <app-tarjeta-component [dato]="tarjetas[2]"></app-tarjeta-component>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-fondo d-flex flex-column align-items-center">
  <div class="mt-4 pt-4">
    <h2 class="text-center text-light">CONTÁCTAME <span class="d-flex justify-content-center"><hr class="w-50"></span> </h2>
  </div>
  <form action="" class="w-25">
    <div class="mb-2 ">
      <label for="exampleFormControlInput1" class="form-label text-light">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="emai@email.com">
    </div>
    <div class="mb-2 ">
      <label for="exampleFormControlInput1" class="form-label text-light">Nombre</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre" >
    </div>
    <div class="mb-2 ">
      <label for="exampleFormControlTextarea1" class="form-label text-light">Mensaje</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-danger mb-3">Enviar</button>
  </form>
</div>

<div class="container-fluid bg-fondo-oscuro d-flex flex-column align-items-center ">
  <div class="mt-2">
    <a href="https://github.com/Vladox69" class="mx-2 p-2" target="_blank"><i class="fa-brands fa-github text-light" style="width: 25; height: 25;" ></i></a>
    <a href="https://github.com/Vladox69" class="mx-2 p-2" target="_blank"><i class="fa-brands fa-linkedin text-light" style="width: 25; height: 25;"></i></a>
    <a href="https://github.com/Vladox69" class="mx-2 p-2" target="_blank"><i class="fa-brands fa-github text-light" style="width: 25; height: 25;"></i></a>
  </div>
  <div class="mt-2">
    <h6 class="text-light">VLADIMIR AGUACUNCHI <span class="text-danger">&COPY; 2023</span> </h6>
  </div>
</div>
