<!-- nav bar -->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-symbols-outlined text-light"> menu </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link text-light dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- about -->

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="container">
        <div class="row">
          <img src="/assets/hero.jpg" alt="" />
        </div>
        <div class="row">
          <h3 class="text-center">Who's this guy?</h3>
          <p class="text-center">
            I'm a Front-End Developer for ChowNow in Los Angeles, CA. I have
            serious passion for UI effects, animations and creating intuitive,
            dynamic user experiences. Let's make something special.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-md-2">HTML</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Avanzado
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">CSS</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Avanzado
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">JavaScript</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Java</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">PHP</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Angular</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Intermedio
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">React</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2">Spring</div>
          <div class="col-md-5">
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                Básico
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid p-5 bg-hueso">
  <!-- Proyectos contenedor -->
  <div class="container-sm">
    <h2 class="text-center">PROYECTOS</h2>
    <div class="row p-5">
      <!-- Proyecto -->
      <div class="col-md-4 p-0">
        <figure>
          <img src="/assets/hero.jpg" alt="" />
          <div class="capa">
            <h4>
              Reportes Compras Públicas EEASA
              <br />
              <span>Angular / Spring / Oracle</span>
            </h4>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="openModalCarrusel('holla')"
            >
              Aprender más
            </button>
          </div>
        </figure>
      </div>
      <!-- Proyecto  -->
      <div class="col-md-4 p-0">
        <figure>
          <img src="/assets/hero.jpg" alt="" />
          <div class="capa">
            <h4>
              Generador de reportes Cal060 - SisDat EEASA
              <br />
              <span>Angular / Spring / Oracle</span>
            </h4>
            <button type="button" class="btn btn-outline-danger">Danger</button>
          </div>
        </figure>
      </div>
      <!-- Proyecto -->
      <div class="col-md-4 p-0">
        <figure>
          <img src="/assets/hero.jpg" alt="" />
          <div class="capa">
            <h4>
              Fortunella
              <br />
              <span>React / Firebase</span>
            </h4>
            <button type="button" class="btn btn-outline-danger">Danger</button>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
