<ngb-carousel *ngIf="true" >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" src="/assets/hero.jpg" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" src="/assets/hero.jpg" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" src="/assets/hero.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="mx-5 my-3">
  <h3>Reportes Intranet</h3>
  <h4>Solución a reportes de intranet en EEASA</h4>
  <hr />
  <p>
    Reportes Intranet es un sistema que ayuda a la generación de reportes de los
    procesos de compras públicas de Empresa Eléctrica Ambato Regional Centro
    Norte S. A. EEASA por medio de gráficas y tablas para el análisis que
    facilitan la comprensión de todos los datos en comprendidos entre dos
    fechas, para ser exportados en formato Excel y Pdf.
  </p>
  <button type="button" class="btn btn-outline-danger">Ver Sitio</button>
</div>
